.blog_game {
    .container {
        padding-top: 10px;
        padding-bottom: 20px;
        border-top: 1px solid #808297;
        border-bottom: 1px solid #808297;
    }
}

.latest_news {
    .container {
        padding-top: 10px;
        border-top: 1px solid #808297;
    }  
}

.top_news_wrap {
    display: grid;
    grid-template-columns: 2fr 1fr 300px;
    grid-gap: 25px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    .tom_sm_news {
        @media (max-width: 990px) {
            margin-bottom: -20px;
        }
        .sm_news_title {
            margin-bottom: 10px;
            color: #fff;
            margin-top: -35px;
            font: 1.2rem "700";
            @media (max-width: 990px) {
                margin-top: 0;
            }
        }
        .top_sm_item {
            margin-bottom: 15px;
        
            img {
                width: 100%;
                object-fit: cover;
                height: auto;
                margin-bottom: 10px;
            }
            .latest_news_title {
                margin-bottom: 5px;
                color: #fff;
                display: block;
                font: 1.2rem/26px "400";
                transition: .3s;
                &:hover {
                    color: #FFD200;
                }
                @media (max-width: 990px) {
                    font: 1.25rem/27px "700";
                }
            }
            .latest_news_info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 576px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                }
                .author {
                    opacity: .5;
                    font: .95rem "400";
                    position: relative;
                    color: #4aed9a;
                    transition: .3s;
                    &:hover {
                        opacity: 1;
                    }
                    &::after {
                        border-radius: 50%;
                        content: '';
                        height: 8px;
                        width: 8px;
                        background: #4aed9a;
                        display: block;
                        position: absolute;
                        right: -15px;
                        top: 5px;
                        @media (max-width: 990px) {
                            display: none;
                        }
                    }
                }
                .data {
                    opacity: .5;
                    font: .95rem "400";
                    color: #FFFFFF;
                }
            }
        }
    }
    .top_med_news {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
        }
        .top_med_item {
            img {
                width: 100%;
                object-fit: cover;
                height: auto;
                margin-bottom: 10px;
            }
            .latest_news_text {
                color: #fff;
                opacity: .8;
                margin-bottom: 15px;
                font: 1rem/24px "400";
            }
            .latest_news_title {
                margin-bottom: 5px;
                color: #fff;
                display: block;
                font: 1.5rem/30px "700";
                transition: .3s;
                &:hover {
                    color: #FFD200;
                }
                @media (max-width: 990px) {
                    font: 1.25rem/27px "700";
                }
            }
            .latest_news_info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 576px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                }
                .author {
                    opacity: .5;
                    font: .95rem "400";
                    position: relative;
                    color: #4aed9a;
                    transition: .3s;
                    &:hover {
                        opacity: 1;
                    }
                    &::after {
                        border-radius: 50%;
                        content: '';
                        height: 8px;
                        width: 8px;
                        background: #4aed9a;
                        display: block;
                        position: absolute;
                        right: -15px;
                        top: 5px;
                        @media (max-width: 990px) {
                            display: none;
                        }
                    }
                }
                .data {
                    opacity: .5;
                    font: .95rem "400";
                    color: #FFFFFF;
                }
            }
        }
    }
    .top_big_news {
        img {
            width: 100%;
            object-fit: cover;
            height: auto;
            margin-bottom: 10px;
        }
        .latest_news_text {
            color: #fff;
            opacity: .8;
            margin-bottom: 15px;
            font: 1rem/24px "400";
        }
        .latest_news_title {
            margin-bottom: 5px;
            color: #fff;
            display: block;
            font: 1.5rem/30px "700";
            transition: .3s;
            &:hover {
                color: #FFD200;
            }
            @media (max-width: 990px) {
                font: 1.25rem/27px "700";
            }
        }
        .latest_news_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 576px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 5px;
            }
            .author {
                opacity: .5;
                font: .95rem "400";
                position: relative;
                color: #4aed9a;
                transition: .3s;
                &:hover {
                    opacity: 1;
                }
                &::after {
                    border-radius: 50%;
                    content: '';
                    height: 8px;
                    width: 8px;
                    background: #4aed9a;
                    display: block;
                    position: absolute;
                    right: -15px;
                    top: 5px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
            .data {
                opacity: .5;
                font: .95rem "400";
                color: #FFFFFF;
            }
        }
    }
}

.latest_news_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .latest_news_item {
        img {
            width: 100%;
            object-fit: cover;
            height: auto;
            margin-bottom: 10px;
        }
        .latest_news_title {
            margin-bottom: 10px;
            color: #fff;
            display: block;
            font: 1.5rem/30px "700";
            transition: .3s;
            &:hover {
                color: #FFD200;
            }
            @media (max-width: 990px) {
                font: 1.25rem/27px "700";
            }
        }
        .latest_news_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 576px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 5px;
            }
            .author {
                opacity: .5;
                font: .95rem "400";
                position: relative;
                color: #4aed9a;
                transition: .3s;
                &:hover {
                    opacity: 1;
                }
                &::after {
                    border-radius: 50%;
                    content: '';
                    height: 8px;
                    width: 8px;
                    background: #4aed9a;
                    display: block;
                    position: absolute;
                    right: -15px;
                    top: 5px;
                    @media (max-width: 990px) {
                        display: none;
                    }
                }
            }
            .data {
                opacity: .5;
                font: .95rem "400";
                color: #FFFFFF;
            }
        }
    }
}


.blog_game_title {
    text-align: left;
    font: 2rem "700";
    margin-bottom: 15px;
    color: #fff;
    @media (max-width: 990px) {
        font: 1.56rem "700";
    }
}

.blog_game_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    @media (max-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr 1fr;
    }
    .blog_game_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #808297;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        background: #27293D;
        padding:15px 20px;
        justify-content: center;
        &:hover {
            border-color: #FFD200;
            transition: .3s;
            p {
                color: #FFD200;
            }
        }
        svg,img {
            height: 62px;
            width: 62px;
            margin: 0 auto;
            display: block;
            margin-bottom: 10px;
        }
        p {
            transition: .3s;
            font: 1rem "400";
            text-align: center;
            color: #fff;
        }
    }
}

.blog {
    .blog_title {
        text-align: center;
        font: 2rem "700";
        margin-bottom: 15px;
        color: #fff;
        @media (max-width: 990px) {
            font: 1.56rem "700";
        }
    }
}

.blog_text {
    margin-bottom: 10px;
    color: #fff;
    font: 400 .95rem/22px 'Inter', sans-serif;
    @media (max-width: 990px) {
        font: 400 .87rem/21px 'Inter', sans-serif;
    }
}

.blog_filter {
    padding: 15px;
    margin-bottom: 15px;
    background: #3B404A;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 5px;
    .blog_filter_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 990px) {
            display: none;
        }
    }
    .blog_filter_call {
        display: none;
        @media (max-width: 990px) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        p {
            display: flex;
            align-items: center;
            transition: .2s;
            color: #fff;
            justify-content: center;
            font: 400 1rem 'Inter', sans-serif;
            img {
                margin-left: 10px;
            }
        }
        .close_filter {
            opacity: 0;
            transition: .2s;
            position: absolute;
            right: 0;
        }
    }
    .blog_filter_call_active {
        @media (max-width: 990px) {
            margin-bottom: 10px;
            justify-content: space-between;
            .close_filter {
                opacity: 1;
            }
        }
    }
    .blog_filter_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 15px;
        @media (max-width: 1280px) {
            margin: 0 5px;
        }
        @media (max-width: 990px) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
        }
        .blog_filter_text {
            color: #fff;
            margin-right: 20px;
            font: 400 1rem/23px 'Inter', sans-serif;
            @media (max-width: 1280px) {
                margin-right: 10px;
            }
            @media (max-width: 990px) {
                margin: 0 0 5px 0;
            }
        }
        .img_active {
            img {
                transform: rotate(180deg);
            }
        }
        .blog_filter_select {
            position: relative;
            @media (max-width: 990px) {
                width: 100%;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, .2);
                box-sizing: border-box;
            }
            img {
                position: absolute;
                right: 15px;
                top: 17px;
                pointer-events: none;
            }
            select {
                color: #fff;
                width: 200px;
                appearance: none;
                outline: none;
                border: none;
                font: 400 1rem 'Inter', sans-serif;
                padding: 12px 15px;
                background: #596171;
                border-radius: 3px;
                @media (max-width: 1280px) {
                    width: 150px;
                }
                @media (max-width: 990px) {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        .blog_filter_search {
            position: relative;
            @media (max-width: 990px) {
                width: 100%;
                box-sizing: border-box;
            }
            input {
                width: 200px;
                appearance: none;
                outline: none;
                border: none;
                color: #fff;
                font: 400 1rem 'Inter', sans-serif;
                padding: 12px 15px;
                background: #596171;
                border-radius: 3px;
                @media (max-width: 1280px) {
                    width: 150px;
                }
                @media (max-width: 990px) {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
            img {
                position: absolute;
                right: 14px;
                top: 13px;
                pointer-events: none;
            }
        }
    }
}

.post_outher {
    margin-bottom: 15px;
    text-align: center;
    color: #8b8c8f;
    font: 400 .95rem 'Inter', sans-serif;
    span {
        color: #fff;
        font: 700 1.2rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            font: 700 1.125rem 'Inter', sans-serif;
        }
    }
}

.blog {
    margin-bottom: 40px;
    @media (max-width: 990px) {
        margin-bottom: 25px;
    }
}

.blog_output_wrap {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 20px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
        grid-gap: 10px;
    }
    .blog_box {
        background: #27293d;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
        border-radius: 5px;
        overflow: hidden;
        .blog_box_img {
            height: 190px;
            @media (max-width: 576px) {
                height: 110px;
            }
            img {
                max-width: 100%;
                width: 100%;
                height: auto;
                object-fit: cover;
                @media (max-width: 576px) {
                    max-height: 110px;
                }
            }
        }
        .blog_box_info {
            padding: 15px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 1024px) {
                padding: 10px;
            }
            .blog_info_title {
                font: 700 1.2rem "700";
                margin-bottom: 8px;
                color: #fff;
                @media (max-width: 576px) {
                    font: 700 1rem "700";
                    margin-bottom: 5px;
                }
            }
            .blog_info_text {
                margin-bottom: 35px;
                font: .9rem/20px '400';
                height: 60px;
                overflow: hidden;
                color: #fff;
                opacity: .7;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                @media (max-width: 576px) {
                    margin-bottom: 10px;
                    height: 50px;
                }
            }
            .blog_info_data {
                color: #8b8c8f;
                opacity: .5;
                order: -1;
                order: -1;
                margin-bottom: 10px;
                font: 400 .9rem'Inter', sans-serif;
                @media (max-width: 576px) {
                    font: 400 .75rem 'Inter', sans-serif;
                }
            }
        }
    }
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin: 0 5px;
            a {
                height: 38px;
                width: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font: 700 1.2rem 'Inter', sans-serif;
                border: 2px solid transparent;
                box-sizing: border-box;
                border-radius: 2px;
                transition: .2s;
                @media (max-width: 360px) {
                    height: 30px;
                    width: 30px;
                    font: 700 1rem 'Inter', sans-serif;
                }
                &:hover {
                    background: #3B404A;
                }
            }
            .left {
                transform: rotate(180deg);
            }
            .active_pagi {
                border: 2px solid #FFCF24;
                color: #FFCF24;
                &:hover {
                    background: transparent;
                }
            }
        }
    }
}


.blog_sm {
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }
}