.catalog_casino_wrap {
    background: #1D2135;
    .container {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    .catalog_casino_img {
        img {
            max-width: 100%;
            height: auto;
            box-sizing: border-box;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }
    }
}


.catalog_casino_outptut {
    h1,h2,h3,h4,h5 {
        color: #fff;
        font: 1.75rem "700";
        margin-bottom: 5px;
        @media (max-width: 990px) {
            font: 1.45rem "700";
            
        }
    }
    p {
        font: .95rem/23px "400";
        color: #fff;
        span {
            color: #FFD200; 
        }
        a {
            color: #FFD200;
            text-decoration: underline;
        }
    }
}