.catalog_casino {
    margin-bottom: 30px;
    @media (max-width: 990px) {
        margin-bottom: 20px;
    }
     ::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
        height: 5px;
        background-color: #818B9F;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #3B404A;
    }
    .catalog_title_wrap {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        align-items: center;
        @media (max-width: 990px) {
            position: relative;
            margin-bottom: 20px;
            grid-template-columns: 1fr;
        }
        @media (max-width: 576px) {
            padding: 0 10px;
        }
        .title_img {
            @media (max-width: 990px) {
                right: -30px;
                bottom: -10px;
                object-fit: contain;
                position: absolute;
                max-width: 182px;
                max-height: 135px;
            }
        }
    }
    .catalog_casino_title {
        color: #55B56B;
        font: 700 2rem 'Inter', sans-serif;
        margin-bottom: 15px;
        @media (max-width: 990px) {
            font: 700 1.5rem 'Inter', sans-serif;
            margin-bottom: 10px;
        }
    }
    .catalog_casino_title_sm {
        color: #fff;
        font: 700 1.5rem 'Inter', sans-serif;
        margin-bottom: 10px;
        @media (max-width: 990px) {
            max-width: 80%;
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .catalog_casino_text {
        font: 400 .95rem/23px 'Inter', sans-serif;
        margin-bottom: 20px;
        color: #fff;
        @media (max-width: 990px) {
            margin-bottom: 10px;
            max-width: 70%;
        }
    }
    .hide_text {
        height: 85px;
        overflow: hidden;
    }
    .hide_text_active {
        height: auto;
    }
    .show_more {
        cursor: pointer;
        font: 400 .9rem 'Inter', sans-serif;
        color: #55B56B;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
            position: relative;
            left: 6px;
            top: 1px;
        }
    }
    .catalog_casino_container {
        padding: 15px;
        background: #3B404A;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        margin-bottom: 30px;
        @media (max-width: 576px) {
            margin-bottom: 25px;
            padding: 10px 0 0 0;
        }
    }
    .catalog_top_wrap {
        padding-bottom: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            display: grid;
            border: none;
            grid-template-columns: 180px 180px 180px 180px;
            grid-gap: 20px;
            overflow-x: scroll;
            align-items: start;
            justify-content: start;
        }
        @media (max-width: 576px) {
            padding: 0 0 10px 0;
            margin: 10px;
            grid-gap: 5px;
        }
        .catalog_top_box {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0 30px;
            opacity: .6;
            transition: .2s;
            &:hover {
                opacity: 1;
            }
            @media (max-width: 768px) {
                margin: 0;
            }
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
                margin-bottom: 5px;
            }
            p {
                text-align: center;
                color: #fff;
                font: 700 1.1rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 700 .95rem 'Inter', sans-serif;
                }
            }
        }
        .catalog_top_box_active {
            opacity: 1;
        }
    }
    .catalog_filter_wrap {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-gap: 20px;
        padding-bottom: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 15px;
            margin: 0 0 5px 0;
            padding: 0;
            border: none;
        }
        .catalog_filter_active {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            bottom: -5px;
            @media (max-width: 990px) {
                display: none;
            }
            .filter_title {
                margin-bottom: 8px;
                color: #fff;
                font: 400 1rem 'Inter', sans-serif;
                opacity: .5;
                margin-right: 10px;
            }
            .filter_active_wrap {
                display: flex;
                margin-bottom: 8px;
                align-items: center;
                .active_title {
                    color: #fff;
                    font: 400 1rem 'Inter', sans-serif;
                    margin-right: 5px;
                }
                .active_item {
                    background: #596171;
                    border: 1px solid #596171;
                    box-sizing: border-box;
                    border-radius: 100px;
                    cursor: pointer;
                    color: #fff;
                    padding: 3px 12px;
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    &::after {
                        content: url(../img/catalog_casino/close.svg);
                        margin-left: 6px;
                        height: 10px;
                        width: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &:hover {
                        border: 1px solid #FF4B55;
                    }
                }
            }
            .close_all_filter {
                margin-bottom: 8px;
                background: #D5442D;
                border: 1px solid #D5442D;
                box-sizing: border-box;
                border-radius: 100px;
                cursor: pointer;
                padding: 3px 12px;
                margin-right: 8px;
                color: #fff;
                display: flex;
                align-items: center;
                &::after {
                    content: url(../img/catalog_casino/close_all.svg);
                    margin-left: 6px;
                    height: 10px;
                    width: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .catalog_filter_sort {
            display: flex;
            align-self: center;
            cursor: pointer;
            @media (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
                margin: 10px;
            }
            p {
                opacity: .5;
                margin: 0;
                margin-right: 12px;
                font: 400 1rem 'Inter', sans-serif;
                white-space: nowrap;
                display: flex;
                color: #fff;
                align-items: center;
                @media (max-width: 576px) {
                    margin: 0 0 10px 0;
                }
            }
            .sort_filter {
                width: 100%;
                position: relative;
                box-sizing: border-box;
                &::after {
                    content: url(../img/catalog_casino/arr_bottom.svg);
                    position: absolute;
                    right: 10px;
                    top: 7px;
                    pointer-events: none;
                }
                select {
                    font: 400 1rem 'Inter', sans-serif;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 8px;
                    outline: none;
                    appearance: none;
                    color: #fff;
                    background: #596171;
                    border: 1px solid #596171;
                    box-sizing: border-box;
                    border-radius: 2px;
                }
            }
            .img_active {
                &::after {
                    transform: rotate(180deg);
                    top: 11px;
                }
            }
        }
    }
    .catalog_casino_wrap {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-gap: 20px;
        align-items: start;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 15px;
        }
        .raiting_btn_wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 15px;
            a {
                font: 700 1rem 'Inter', sans-serif;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 25px;
                background: #55B56B;
                @media (max-width: 576px) {
                    padding: 15px;
                    font: 700 .87rem 'Inter', sans-serif;
                }
                img {
                    margin-left: 5px;
                }
            }
        }
        .pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    margin: 0 5px;
                    @media (max-width: 576px) {
                        margin: 0 5px;
                    }
                    a {
                        height: 38px;
                        width: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font: 700 1.2rem 'Inter', sans-serif;
                        border: 2px solid transparent;
                        box-sizing: border-box;
                        border-radius: 2px;
                        transition: .2s;
                        @media (max-width: 576px) {
                            height: 28px;
                            width: 28px;
                            font: 700 .87rem 'Inter', sans-serif;
                        }
                        @media (max-width: 400px) {
                            height: 25px;
                            width: 25px;
                            font: 700 .9rem 'Inter', sans-serif;
                        }
                        &:hover {
                            background: #3B404A;
                        }
                    }
                    .left {
                        transform: rotate(180deg);
                    }
                    .active_pagi {
                        border: 2px solid #FFCF24;
                        color: #FFCF24;
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }
        .catalog_casino_filter {
            padding: 10px;
            background: #596171;
            box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
            border-radius: 5px;
            @media (max-width: 990px) {
                grid-row-start: 1;
            }
            @media (max-width: 576px) {
                margin: 0 10px;
            }
            .filter_title {
                padding-bottom: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                color: #fff;
                justify-content: center;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                pointer-events: none;
                @media (max-width: 990px) {
                    pointer-events: auto;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
                p {
                    font: 400 1rem 'Inter', sans-serif;
                    margin-right: 10px;
                    color: #fff;
                }
            }
            .filter_box_wrap {
                @media (max-width: 990px) {
                    display: none;
                }
            }
            .filter_box_item {
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                position: relative;
                @media (max-width: 990px) {
                    margin: 0;
                    padding: 0;
                    border: none;
                    padding-top: 10px;
                    margin-top: 10px;
                    border-top: 1px solid rgba(255, 255, 255, .2);
                }
                .filter_item_title {
                    cursor: pointer;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    user-select: none;
                    justify-content: space-between;
                    p {
                        font: 700 1rem 'Inter', sans-serif;
                        margin-right: 10px;
                    }
                }
                .arr_rotate {
                    img {
                        transform: rotate(180deg);
                    }
                }
                .filter_item_hide {
                    margin-top: 10px;
                    padding-right: 15px;
                    max-height: 150px;
                    overflow-y: scroll;
                    display: none;
                    .checkbox {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 3px;
                        padding: 5px;
                        transition: .2s;
                        outline: none;
                        user-select: none;
                        &:hover {
                            background: #818B9F;
                            border-radius: 2px;
                        }
                    }
                    .checkbox:last-child {
                        margin: 0;
                    }
                    .coll {
                        color: #28ADFF;
                        font: 400 .87rem 'Inter', sans-serif;
                    }
                    .checkbox input[type="checkbox"] {
                        opacity: 0;
                        position: absolute;
                    }
                    .checkbox label {
                        font: 400 .87rem 'Inter', sans-serif;
                        position: relative;
                        display: flex;
                        padding-left: 22px;
                        color: #fff;
                        outline: none;
                        user-select: none;
                        cursor: pointer;
                    }
                    .checkbox label::before,
                    .checkbox label::after {
                        position: absolute;
                        content: "";
                        /*Needed for the line-height to take effect*/
                        display: inline-block;
                    }
                    /*Outer box of the fake checkbox*/
                    .checkbox label::before {
                        height: 12px;
                        width: 12px;
                        border: 1px solid #CACACA;
                        left: 0px;
                        border-radius: 1px;
                        top: 1.5px;
                    }
                    /*Checkmark of the fake checkbox*/
                    .checkbox label::after {
                        height: 3px;
                        width: 6px;
                        border-left: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        transform: rotate(-45deg);
                        left: 3.5px;
                        top: 5px;
                    }
                    /*Hide the checkmark by default*/
                    .checkbox input[type="checkbox"]+label::after {
                        content: none;
                    }
                    /*Unhide on the checked state*/
                    .checkbox input[type="checkbox"]:checked+label::after {
                        content: "";
                    }
                    .checkbox input[type="checkbox"]:checked+label::before {
                        content: "";
                        border: 1px solid #6CDA75;
                        background: #6CDA75;
                    }
                }
            }
        }
    }
    .catalog_output_wrap {
        padding: 15px;
        background: #596171;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        @media (max-width: 990px) {
            padding: 15px 10px;
        }
        .output_item_box:first-child {
            .item_img_box {
                background: #3D0202;
                border: 3px solid #3D0202;
            }
            .item_info_wrap {
                border: 3px solid #3D0202;
                .item_title_box {
                    @media (max-width: 990px) {
                        background: #3D0202;
                    }
                    .title {
                        @media (max-width: 990px) {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .output_item_box {
            display: grid;
            grid-template-columns: 165px 1fr;
            box-sizing: border-box;
            overflow: hidden;
            @media (max-width: 1200px) {
                grid-template-columns: 1fr;
            }
        }
        .item_img_box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid #F6F6F6;
            background: #F6F6F6;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            @media (max-width: 1200px) {
                border-radius: 5px 5px 0 0;
            }
            @media (max-width: 990px) {
                display: none;
            }
            img {
                max-width: 100%;
                position: relative;
                z-index: 9;
                display: block;
            }
        }
        .item_info_wrap {
            border: 3px solid #F6F6F6;
            border-radius: 0 5px 5px 0;
            padding: 15px;
            display: grid;
            grid-template-columns: 1fr 230px;
            @media (max-width: 1200px) {
                border-radius: 0 0 5px 5px;
            }
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                border-radius: 5px;
                grid-gap: 0;
                padding: 12px;
                padding: 0;
                padding-bottom: 10px;
            }
            .item_title_box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                padding-bottom: 10px;
                margin-bottom: 10px;
                @media (max-width: 990px) {
                    padding: 5px;
                    position: relative;
                    box-sizing: border-box;
                    border: none;
                    background: #F6F6F6;
                    display: grid;
                    grid-template-columns: 2fr 3fr 2fr;
                    left: -1px;
                    width: 100.4%;
                }
                @media (max-width: 768px) {
                    top: -1px;
                }
                @media (max-width: 576px) {
                    width: 100.5%;
                }
                @media (max-width: 340px) {
                    width: 101%;
                }
                img {
                    display: none;
                    @media (max-width: 990px) {
                        display: block;
                    }
                }
                .title {
                    color: #fff;
                    font: 700 1.2rem 'Inter', sans-serif;
                    @media (max-width: 990px) {
                        color: #000;
                        text-align: center;
                        font: 700 1rem 'Inter', sans-serif;
                    }
                    @media (max-width: 576px) {
                        text-overflow: ellipsis;
                        width: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                .item_star_box {
                    display: flex;
                    align-items: center;
                    @media (max-width: 990px) {
                        justify-content: flex-end;
                    }
                    img {
                        margin-right: 5px;
                        display: block;
                    }
                    p {
                        white-space: nowrap;
                        font: 400 1rem 'Inter', sans-serif;
                        color: #FFC850;
                        @media (max-width: 990px) {
                            font: 400 .87rem 'Inter', sans-serif;
                        }
                        span {
                            font: 400 1.125rem 'Inter', sans-serif;
                            @media (max-width: 990px) {
                                font: 400 .95rem 'Inter', sans-serif;
                            }
                        }
                    }
                }
            }
            .item_wrap_list {
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                padding-bottom: 10px;
                margin-bottom: 10px;
                @media (max-width: 990px) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .call_item_list {
                    display: none;
                    @media (max-width: 576px) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    p {
                        font: 700 1rem 'Inter', sans-serif;
                        color: #fff;
                    }
                }
                .item_list {
                    columns: 2;
                    @media (max-width: 1200px) {
                        columns: 1;
                    }
                    @media (max-width: 576px) {
                        margin-top: 10px;
                        display: none;
                    }
                    li {
                        color: #fff;
                        font: 400 .87rem/20px 'Inter', sans-serif;
                        position: relative;
                        padding-left: 18px;
                        margin-bottom: 5px;
                        @media (max-width: 576px) {
                            margin-bottom: 10px;
                        }
                        &::before {
                            content: url(../img/catalog_casino/check.svg);
                            position: absolute;
                            left: 0;
                            top: 1px;
                        }
                    }
                    .li:last-child {
                        margin: 0;
                    }
                }
            }
            .item_bonus_wrap {
                display: flex;
                margin-bottom: 12px;
                align-items: center;
                @media (max-width: 990px) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                img {
                    margin-right: 10px;
                }
                .bonus_text {
                    color: #fff;
                    font: 700 1rem 'Inter', sans-serif;
                    @media (max-width: 576px) {
                        font: 700 .95rem 'Inter', sans-serif;
                    }
                    span {
                        display: block;
                        color: rgba(255, 255, 255, .7)
                    }
                }
            }
            .item_desktop_btn {
                display: grid;
                grid-template-columns: 1fr 1fr 75px;
                grid-gap: 10px;
                align-items: center;
                @media (max-width: 1200px) {
                    grid-template-columns: 1fr;
                }
                @media (max-width: 990px) {
                    display: none;
                }
                .visit {
                    color: #fff;
                    text-align: center;
                    padding: 15px;
                    background: #55B56B;
                    border: 2px solid #55B56B;
                    border-radius: 3px;
                    font: 700 1.125rem 'Inter', sans-serif;
                    transition: .2s;
                    &:hover {
                        border: 2px solid #3aa052;
                        background: #3aa052;
                    }
                }
                .read {
                    border: 2px solid #FFCF24;
                    color: #FFCF24;
                    text-align: center;
                    padding: 15px;
                    border-radius: 3px;
                    transition: .2s;
                    font: 700 1.125rem 'Inter', sans-serif;
                    &:hover {
                        color: #fff;
                        background: #FFCF24;
                    }
                }
                .apply {
                    font: 400 .87rem 'Inter', sans-serif;
                    color: #28ADFF;
                    white-space: nowrap;
                    @media (max-width: 1200px) {
                        text-align: center;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .item_mob_btn {
            display: none;
            @media (max-width: 990px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                align-items: center;
            }
            @media (max-width: 990px) {
                margin-left: 10px;
                margin-right: 10px;
            }
            .visit {
                color: #fff;
                text-align: center;
                padding: 12px;
                background: #55B56B;
                border: 2px solid #55B56B;
                border-radius: 3px;
                font: 700 1rem 'Inter', sans-serif;
                transition: .2s;
                &:hover {
                    border: 2px solid #3aa052;
                    background: #3aa052;
                }
            }
            .read {
                border: 2px solid #FFCF24;
                color: #FFCF24;
                text-align: center;
                padding: 12px;
                border-radius: 3px;
                transition: .2s;
                font: 700 1rem 'Inter', sans-serif;
                &:hover {
                    color: #fff;
                    background: #FFCF24;
                }
            }
            .apply {
                font: 400 .87rem 'Inter', sans-serif;
                color: #28ADFF;
                white-space: nowrap;
                @media (max-width: 1200px) {
                    text-align: center;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .payments_box {
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid rgba(255, 255, 255, .2);
            position: relative;
            @media (max-width: 990px) {
                margin: 0;
                margin-bottom: 20px;
                padding: 0;
                border: none;
            }
            @media (max-width: 990px) {
                margin-left: 10px;
                margin-right: 10px;
            }
            .payments_title {
                margin-bottom: 5px;
                font: 700 1rem 'Inter', sans-serif;
                color: #fff;
            }
            .hide_payments {
                position: absolute;
                top: -20px;
                max-height: 210px;
                overflow: hidden;
                overflow-y: scroll;
                padding: 13px;
                display: none;
                background: #596171;
                box-shadow: 0 4px 20px rgba(0, 0, 0, .6);
                border-radius: 5px;
                .hide_paymetns_wrap {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 10px;
                    .payments_item {
                        user-select: none;
                    }
                }
            }
            .best_game_wrap {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 5px;
                margin-bottom: 5px;
                @media (max-width: 990px) {
                    grid-template-columns: repeat(8, 1fr);
                }
                @media (max-width: 576px) {
                    grid-template-columns: repeat(4, 1fr);
                }
                .game_item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    padding: 5px;
                    background: transparent;
                    border-radius: 5px;
                    transition: .2s;
                    span {
                        padding: 8px 12px;
                        text-align: center;
                        font: 400 .7rem 'Inter', sans-serif;
                        background: #596171;
                        box-shadow: 0 4px 20px rgba(0, 0, 0, .6);
                        border-radius: 5px;
                        position: absolute;
                        color: #fff;
                        white-space: nowrap;
                        opacity: 0;
                        transition: .2s;
                        top: -7%;
                        pointer-events: none;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover {
                        background: #3B404A;
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
            .over {
                color: #fff;
                font: 400 .87rem 'Inter', sans-serif;
                padding-bottom: 10px;
                display: block;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                span {
                    color: #55B56B;
                }
            }
            .payments_item_wrap {
                display: grid;
                margin: 5px 0;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 5px;
                @media (max-width: 990px) {
                    margin: 0;
                    margin-top: 10px;
                    grid-template-columns: repeat(8, 1fr);
                    @media (max-width: 576px) {
                        grid-gap: 10px;
                        grid-template-columns: repeat(4, 1fr);
                    }
                }
                .payments_item {
                    @media (max-width: 990px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .show_all {
                font: 400 .87rem 'Inter', sans-serif;
                cursor: pointer;
                color: #28ADFF;
                &:hover {
                    text-decoration: underline;
                }
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
    }
}

.catalog_bottom {
    margin-bottom: 30px;
    .blog_bottom_wrap {
        box-shadow: 0 4px 15px rgba(255, 255, 255, .1);
        background: #3B404A;
        padding: 25px 35px;
        @media (max-width: 990px) {
            padding: 20px 15px;
        }
        .blog_bottom_box {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            .blog_bottom_title {
                margin-bottom: 10px;
                color: #fff;
                font: 700 1.2rem 'Inter', sans-serif;
            }
            .blog_bottom_text {
                margin: 0;
                color: #fff;
                font: 400 .95rem/22px 'Inter', sans-serif;
            }
        }
        .blog_bottom_box:last-child {
            margin: 0;
            padding: 0;
            border: none;
        }
    }
}

.catalog_post_bottom {
    .catalog_post_title {
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
        font: 700 1.2rem 'Inter', sans-serif;
    }
    .blog_output_wrap {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        @media (max-width: 990px) {
            margin: 0 10px;
            margin-bottom: 10px;
            padding: 0 5px;
            overflow-y: scroll;
            padding-bottom: 10px;
            grid-template-columns: 180px 180px 180px 180px 180px;
        }
    }
    .blog_btn_more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        @media (max-width: 990px) {
            margin-bottom: 20px;
        }
        a {
            font: 400 1rem 'Inter', sans-serif;
            color: #fff;
            border-radius: 3px;
            background: #3B404A;
            padding: 15px 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.catalog_faq {
    margin-bottom: 25px;
    .faq_title {
        text-align: center;
        margin-bottom: 15px;
        color: #fff;
        font: 700 1.2rem 'Inter', sans-serif;
    }
    .faq_wrap {
        padding: 5px 20px 5px 20px;
        background: #3B404A;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
        border-radius: 5px;
        @media (max-width: 990px) {
            padding: 5px 15px 5px 15px;
        }
        .acc_box {
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            outline: none;
            user-select: none;
            appearance: none;
        }
        .acc_box:last-child {
            border: none;
            padding: 0;
            .acc_body {
                padding-bottom: 0;
            }
        }
    }
    .active_acc {
        .acc_head {
            img {
                transform: rotate(-180deg);
            }
        }
    }
    .acc_head {
        padding: 15px 0;
        cursor: pointer;
        display: flex;
        user-select: none;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            padding: 10px 0;
        }
        p {
            color: #fff;
            font: 700 1.2rem 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 700 1.125rem 'Inter', sans-serif;
            }
        }
        img {
            transition: .1s;
        }
    }
    .acc_body {
        display: none;
        user-select: none;
        padding-bottom: 10px;
        p {
            color: #fff;
            font: 400 .95rem/22px 'Inter', sans-serif;
            @media (max-width: 990px) {
                font: 400 .87rem/20px 'Inter', sans-serif;
            }
        }
    }
}

.jackpots_page {
    background: url(../img/home/cata_ab.png) no-repeat center center/cover;
    .container {
        padding: 30px 0;
        @media (max-width: 990px) {
            padding: 20px 0;
        }
    }
    .jackpots_title {
        margin-bottom: 15px;
        color: #fff;
        text-align: center;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            margin-bottom: 10px;
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .jackpots_text {
        text-align: center;
        margin: 0 auto;
        font: 400 .95rem/22px 'Inter', sans-serif;
        margin-bottom: 20px;
        max-width: 660px;
        color: #fff;
        @media (max-width: 990px) {
            text-align: center;
            margin-bottom: 10px;
            font: 400 .87rem/21px 'Inter', sans-serif;
            max-width: 100%;
        }
    }
    .jackpots_wrap {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 30px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            @media (max-width: 990px) {
                display: block;
                margin: 0 auto;
                width: 80%;
                max-width: 80%;
                max-height: 300px;
            }
        }
        .jackpots_info {
            .info_title {
                color: #fff;
                margin-bottom: 10px;
                font: 700 1.3rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    text-align: center;
                    font: 700 1.1rem 'Inter', sans-serif;
                }
            }
            .info_text {
                font: 400 .95rem/22px 'Inter', sans-serif;
                color: #fff;
                @media (max-width: 990px) {
                    font: 400 .87rem/21px 'Inter', sans-serif;
                }
            }
        }
        .jackpots_link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .name_jackpots {
                margin-bottom: 5px;
                color: #fff;
                font: 700 1.4rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    margin-bottom: 10px;
                    font: 700 1.1rem 'Inter', sans-serif;
                }
            }
            .price {
                margin-bottom: 10px;
                color: #55B56B;
                font: 700 2rem 'Inter', sans-serif;
                @media (max-width: 990px) {
                    font: 700 1.4rem 'Inter', sans-serif;
                }
            }
            .link {
                background: #55B56B;
                border-radius: 3px;
                padding: 12px 45px;
                color: #FFF;
                font: 700 1.05rem 'Inter', sans-serif;
            }
        }
    }
}

.facts_page {
    margin-bottom: 25px;
    background: rgba(0, 0, 0, .5);
    .container {
        padding: 25px 0;
    }
    .fact_title {
        margin-bottom: 15px;
        color: #fff;
        font: 700 1.5rem 'Inter', sans-serif;
        @media (max-width: 990px) {
            margin-bottom: 20px;
            font: 700 1.2rem 'Inter', sans-serif;
        }
    }
    .facts_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 25px;
        }
        .facts_box {
            min-height: 60px;
            @media (max-width: 990px) {
                display: flex;
                min-height: auto;
                align-items: center;
            }
            .facts_title {
                font: 700 1.2rem 'Inter', sans-serif;
                margin-bottom: 5px;
                color: rgba(255, 255, 255, 0.5);
                @media (max-width: 990px) {
                    margin: 0;
                    margin-right: 10px;
                }
            }
            .facts_text {
                font: 700 1.2rem 'Inter', sans-serif;
                color: #fff;
            }
            img {
                max-width: 100%;
                height: auto;
                margin: 0;
                object-fit: contain;
            }
        }
    }
}