@font-face {
    font-family: '300';
    src: url("../fonts/HelveticaLight/HelveticaLight.eot") format("eot"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("ttf"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: '400';
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot") format("eot"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("ttf"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: '500';
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot") format("eot"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("ttf"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: '700';
    src: url("../fonts/HelveticaBold/HelveticaBold.eot") format("eot"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("ttf"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff");
    font-display: swap;
}