.redactor_wrap {
    margin-bottom: 20px;
    .redactor_output {
        h1,h2,h3,h4,h5 {
            color: #fff;
            font: 2rem "700";
            @media (max-width: 990px) {
                font: 1.5rem "700";  
            }
        }
        p {
            color: #fff;
            font: 1rem/24px "400";
        }
    }
}

.blog_post {
    .top_rated_wrap {
        max-width: 100%!important;
    }
}

.blog_post_output {
    padding: 15px 25px;
    background: #1D2135;
    border-radius: 5px;
    @media (max-width: 990px) {
        padding: 10px;
    }
    .blog_post_img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 5px;
        @media (max-width: 990px) {
            height: 175px;
        }
    }
    .half_new_casino {
        border: 1px solid #808297!important;
    }
    .new_casino_top {
        padding: 0!important;
        margin: 0!important;
        border: none!important;
    }
    .blog_the_content {
        margin-top: 20px;
        h1,h2,h3,h4,h5 {
            color: #fff;
            font: 2rem "700";
            @media (max-width: 990px) {
                font: 1.5rem "700";  
            }
        }
        p {
            color: #fff;
            font: 1rem/24px "400";
        }
        a,span {
            color: #02EBAD;
            text-decoration: underline;
        }
        ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            margin: 10px 0;
            li {
                color: #fff;
                font: 1rem "400";
                padding-left: 20px;
                position: relative;
                &::after {
                    content: url(../img/arr.svg);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
    .info_post {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 990px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }
        .info_post_text {
            display: flex;
            align-items: center;
            .data {
                position: relative;
                font: .95rem "400";
                color: #8e909a;
                padding-left: 15px;
                margin-left: 8px;
                &::after {
                    content: '';
                    background: #333653;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
            }
            .author {
                font: .95rem "400";
                position: relative;
                color: #4aed9a;
                transition: .3s;
                display: flex;
                align-items: center;
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
                img {
                    margin-right: 5px;
                    height: 20px;
                    width: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
        .social_post {
            display: flex;
            align-items: center;
            p {
                margin-right: 5px;
                color: #fff;
            }
            a {
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg,img {
                    height: 30px;
                    width: 30px;
                    object-fit: cover;
                }
            }
        }
    }
}


.casino_more_wrap {
    .casino_more_output {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            width: 100%;
            box-sizing: border-box;
        }
        a {
            transition: .3s;
            display: flex;
            flex-direction: column;
            border: 1px solid #333653;
            &:hover {
                border-color: #FFD200;
                p {
                    color: #FFD200;
                }
            }
            img {
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }
            p {
                transition: .3s;
                margin-bottom: 10px;
                padding: 0 5px;
                text-align: center;
                color: #FFF;
                font: .95rem "700";
            }
        }
    }
}