.contact_container {
    display: grid;
    grid-template-columns: 1fr 275px;
    grid-gap: 20px;
    align-items: start;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.contact_wrap {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 20px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .contact_box {
        @media (max-width: 990px) {
            padding: 0 10px;
        }
    }
    .contact_form_wrap {
        @media (max-width: 990px) {
            padding: 0 10px;
        }
    }
    .contact_title {
        margin-bottom: 15px;
        color: #fff;
        font: 1.5rem "700";
        @media (max-width: 990px) {
            font: 1.25rem "700";
        }
    }
    .contact_text {
        color: #fff;
        margin-bottom: 10px;
        font: .95rem/23px "400";
    }
    .contact_feedback {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 10px;
        .contact_feedback_box {
            display: grid;
            grid-template-columns: 95px 1fr;
            grid-gap: 10px;
            p {
                color: #fff;
                font: .95rem "400";
            }
            a {
                font: .95rem "400";
                color: #55B56B;
            }
        }
    }
    .contact_social {
        a {
            margin-right: 15px;
        }
    }
    .contact_form {
        .contact_form_input {
            display: grid;
            margin-bottom: 10px;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            input {
                width: 100%;
                box-sizing: border-box;
                appearance: none;
                border: none;
                outline: none;
                padding: 12px 15px;
                color: #fff;
                font: 400 1rem 'Inter', sans-serif;
                background: #596171;
                border-radius: 3px;
            }
        }
        textarea {
            appearance: none;
            border: none;
            outline: none;
            color: #fff;
            padding: 12px 15px;
            font: 400 1rem "400";
            background: #596171;
            border-radius: 3px;
            resize: none;
            box-sizing: border-box;
            width: 100%;
            height: 110px;
            margin-bottom: 10px;
        }
        button {
            appearance: none;
            outline: none;
            border: none;
            color: #000;
            background: #FFD200;
            border-radius: 3px;
            font: 1.125rem "700";
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        .checkbox input[type="checkbox"] {
            opacity: 0;
            position: absolute;
        }
        .checkbox label {
            position: relative;
            display: inline-block;
            padding-left: 30px;
            color: #808080;
            cursor: pointer;
            font: .87rem/20px "400";
        }
        .checkbox label::before,
        .checkbox label::after {
            position: absolute;
            content: "";
            display: inline-block;
        }
        .checkbox label::before {
            height: 17px;
            width: 17px;
            border: 1px solid #FFD200;
            left: 0px;
            top: 0px;
            background: #596171;
            border-radius: 3px;
        }
        .checkbox label::after {
            height: 4px;
            width: 8px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(-45deg);
            left: 4.5px;
            top: 5px;
        }
        .checkbox input[type="checkbox"]+label::after {
            content: none;
        }
        .checkbox input[type="checkbox"]:checked+label::before {
            content: "";
            background: #FFD200;
        }
        .checkbox input[type="checkbox"]:checked+label::after {
            content: "";
        }
    }
    iframe {
        height: 260px;
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        grid-column-start: 1;
        grid-column-end: 3;
        @media (max-width: 990px) {
            grid-column-start: auto;
            grid-column-end: auto;
            border-radius: 0;
        }
    }
}


input::-webkit-input-placeholder {
    color: #acb0b8;
}
textarea::-webkit-input-placeholder {
    color: #acb0b8;
}

.contact_sidebar {
    .sidebar_bottom_wrap {
        @media (max-width: 990px) {
            display: block;
        }
    }
}


.contact_bottom_seo {
    background: #1D2135;
    .container {
        padding: 20px 0;
    }
    h1,h2,h3,h4,h5 {
        color: #fff;
        font: 1.75rem "700";
        margin-bottom: 5px;
        @media (max-width: 990px) {
            font: 1.45rem "700";
            
        }
    }
    p {
        font: .95rem/23px "400";
        color: #fff;
        span {
            color: #FFD200; 
        }
        a {
            color: #FFD200;
            text-decoration: underline;
        }
    }
}

.politika_wrap {
    h1,h2,h3,h4,h5 {
        color: #fff;
        font: 1.75rem "700";
        margin-bottom: 5px;
        @media (max-width: 990px) {
            font: 1.45rem "700";
            
        }
    }
    p {
        font: .95rem/23px "400";
        color: #fff;
        span {
            color: #FFD200; 
        }
        a {
            color: #FFD200;
            text-decoration: underline;
        }
    }
}