.sidebar_bottom_wrap {
    @media (max-width: 990px) {
        display: none;
    }
    .sidebar_guides_box {
        padding: 13px 10px;
        background: #27293D;
        border: 1px solid #808297;
        .bottom_sidebar_title {
            display: flex;
            align-items: center;
            color: #fff;
            font: 1.5rem "700";
            margin-bottom: 12px;
            img {
                margin-right: 5px;
            }
        }
        .gide_wrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            .gide_item {
                font: 1rem "400";
                color: #fff;
                transition: .3s;
                padding-left: 10px;
                border-left: 2px solid #808297;
                position: relative;
                display: flex;
                align-items: center;
                img {
                    margin-left: 10px;
                    opacity: 0;
                    transition: .2s;
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                    color: #FFD200;
                    border-color: #FFD200;
                }
            }
        }
        .popular_wrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            .popular_item {
                display: grid;
                grid-template-columns: 55px 1fr;
                grid-gap: 10px;
                align-items: center;
                &:hover {
                    p {
                        color: #FFD200;
                    }
                }
                img {
                    max-width: 100%;
                    border-radius: 2px;
                    object-fit: cover;
                }
                p {
                    font: 1rem "400";
                    transition: .3s;
                    color: #fff;
                }
            }
        }
        .best_wrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            .best_item {
                display: grid;
                grid-template-columns: 22px 100px 80px;
                grid-gap: 10px;
                cursor: pointer;
                align-items: center;
                &:hover {
                    p {
                        color: #FFD200;
                    }
                    a {
                        opacity: 1;
                    }
                }
                img {
                    max-width: 100%;
                    border-radius: 2px;
                    object-fit: cover;
                }
                p {
                    font: 1rem "400";
                    transition: .3s;
                    color: #fff;
                }
                a {
                    padding: 5px 15px;
                    color: #000;
                    transition: .3s;
                    background: #FFD200;
                    box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                    text-align: center;
                    text-transform: uppercase;
                    font: 1.2rem "700";
                    opacity: 0;
                    position: relative;
                    &::after {
                        content: url(../img/icon/arr.svg);
                        position: absolute;
                        right: -15px;
                    }
                }
            }
        }
    }
}

.casno_main {
    padding-top: 10px;
    padding-bottom: 40px;
    background: linear-gradient(270.12deg, #262A4B 12.82%, #34385E 47.69%, #262A4B 87.2%);
    @media (max-width: 1280px) {
        padding: 15px 0;
    }
    .casino_main_wrap {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 280px;
        grid-gap: 20px;
        height: 272px;
        @media (max-width: 1280px) {
            grid-template-columns: 1fr;
            grid-gap: 15px;
            height: auto;
        }
    }
    .casino_card_item {
        display: grid;
        grid-template-columns: 210px 310px 1fr;
        grid-gap: 15px;
        border: 1px solid #808297;
        background: #27293D;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        padding: 15px 20px;
        @media (max-width: 1280px) {
            grid-template-columns: 240px 340px 1fr;
        }
        @media (max-width: 1024px) {
            padding: 10px;
            grid-template-columns: 1fr;
        }
        .casino_card_img {
            height: 240px;
            @media (max-width: 990px) {
                display: none;
            }
            img {
                max-width: 100%;
                height: 100%;
                width: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }
        .casino_card_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            position: relative;
            @media (max-width: 320px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
            .mob_card {
                display: none;
                border-radius: 5px;
                max-width: 100%;
                object-fit: cover;
                @media (max-width: 990px) {
                    display: block;
                    margin-right: 10px;
                }
                @media (max-width: 320px) {
                    margin: 0;
                    width: 100%;
                    height: 200px;
                }
            }
            .jack {
                @media (max-width: 1024px) {
                    right: -35px;
                    top: -50px;
                    position: absolute;
                    height: 75px;
                    width: 75px;
                }
            }
            ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                li {
                    position: relative;
                    font: .9rem "400";
                    color: #ADAFBA;
                    padding-left: 20px;
                    &::before {
                        content: url(../img/new_img/checked_casino.svg);
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
        .casino_card_bonus {
            padding: 15px;
            background: #333653;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            .casino_card_title {
                font: 1.2rem "700";
                text-transform: uppercase;
                color: #4bed9b;
                margin-bottom: 5px;
                text-align: center;
            }
            .casino_card_ts {
                text-align: center;
                font: .75rem "400";
                color: #ADAFBA;
            }
        }
        .casino_card_btn {
            a {
                width: 100%;
                display: block;
                box-sizing: border-box;
                text-align: center;
                box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                border-radius: 4px;
                background: #FFD200;
                padding: 15px;
                text-transform: uppercase;
                color: #000;
                font: 1.2rem "700";
            }
        }
        .card_rait_title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            p {
                margin-right: 20px;
                color: #fff;
                display: flex;
                align-items: center;
                font: .95rem "700";
                img {
                    margin-right: 10px;
                }
            }
        }
        .casino_rait_wrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            .casino_rait_item {
                display: grid;
                grid-template-columns: 120px 1fr;
                grid-gap: 10px;
                align-items: center;
                p {
                    font: .95rem "400";
                    color: #FFF;
                    opacity: .8;
                }
            }
        }
    }
    .casino_card_sidebar {
        display: flex;
        flex-direction: column;
        @media (max-width: 1280px) {
            display: grid;
            grid-template-columns: 1fr;
        }
        .sidebar_fact_wrap {
            padding: 10px 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border: 1px solid #808297;
            background: #27293D;
            margin-bottom: 15px;
            .get {
                background: #FFD200;
                box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                border-radius: 3px;
                text-align: center;
                color: #000;
                font: 1.125rem "700";
                padding: 15px;
                display: block;
            }
            .fact_title {
                color: #fff;
                font: 1.2rem "700";
                margin-bottom: 10px;
                padding-bottom: 8px;
                border-bottom: 1px solid #404159;
            }
            .sidebar_fact_item {
                margin-bottom: 8px;
                padding-bottom: 8px;
                border-bottom: 1px solid #404159;
                display: grid;
                grid-template-columns: 70px 1fr;
                grid-gap: 10px;
                .title_fact {
                    color: rgba(255, 255, 255, 0.8);
                    font: .95rem "400";
                }
                .link_fact {
                    color: #4bed9b;
                    text-decoration: underline;
                    font: .95rem "400"; 
                }
                .link_text {
                    font: .95rem "400"; 
                    color: #fff;
                }
                .fact_img_wrap {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 5px;
                    max-width: 200px;
                    img {
                        margin: 0 auto;
                        display: block;
                    }
                    img:nth-child(n+8) {
                        display: none;
                    }
                    p {
                        text-decoration: underline;
                        color: #4bed9b;
                        font: .95rem "400";
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.casino_card_name {
    margin-bottom: 20px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 990px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .card_name {
            color: #FFF;
            font: 2rem "700";
            @media(max-width: 990px) {
                font: 1.65rem "700";
                margin-bottom: 10px;    
            }
        }
        p {
            display: flex;
            align-items: center;
            font: .95rem "400";
            opacity: .5;
            color: #fff;
            svg {
                margin-right: 5px;
            }
        }
    }
}

.casino_page {
    padding-top: 15px;
    .casino_page_wrap {
        max-width: 960px;
        margin: 0;
        display: grid;
        grid-template-columns: 250px 1fr;
        @media (max-width: 1280px) {
            grid-template-columns: 1fr;
            grid-gap: 15px;
            max-width: 100%;
        }
     }
    .half_info_sidebar {
        @media (max-width: 990px) {
            grid-row-start: 1;
        }
        .half_info_sidebar_title {
            margin-bottom: 10px;
            color: #808297;
            font: .65rem "400";
        }
        .unchor {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            li {
                display: flex;
                align-items: center;
                position: relative;
                &:hover {
                    a {
                        color: #FFD200;
                    }
                }
                a {
                    color: #fff;
                    font: 1rem/22px "400";
                    padding-left: 40px;
                    transition: .2s;
                    span {
                        position: absolute;
                        left: 0;
                        height: 25px;
                        top: 0;
                        width: 25px;
                        transition: .2s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #333653;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
    .casino_page_output {
        border-left: 1px solid #808297;
        padding-left: 15px;
        margin-left: 10px;
        @media (max-width: 1280px) {
            margin: 0;
            padding: 0;
            border: none;
        }
        .casino_output {
            margin-bottom: 10px;
            .casino_title {
                color: #fff;
                display: flex;
                align-items: center;
                font: 1.75rem "700";
                margin-bottom: 5px;
                @media (max-width: 990px) {
                    font: 1.5rem "700";    
                }
                img {
                    margin-right: 5px;
                }
            }
            .casino_redactor {
                p {
                    color: #fff;
                    opacity: .8;
                    font: .95rem/130% "400";
                    span {
                        color: #98CF21;
                    }
                    a {
                        color: #98CF21;
                    }
                }
                ul {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    margin: 10px 0;
                    li {
                        color: #FFF;
                        font: .95rem/130% "400";
                        opacity: .8;
                        position: relative;
                        padding-left: 15px;
                        &::after {
                            content: '';
                            left: 0;
                            top: 5px;
                            height: 7px;
                            position: absolute;
                            border-radius: 50%;
                            width: 7px;
                            display: block;
                            background: linear-gradient(180deg, #02EBAD 0%, #B3F080 100%);
                        }
                    }
                }
                blockquote {
                    margin: 10px 0;
                    padding: 15px 20px;
                    border-left: 4px solid #98CF21;
                    color: #fff;
                    font: .95rem/130% "400";
                    background: rgba(178, 232, 190, 0.1);
                    @media (max-width: 990px) {
                        padding: 10px;
                    }
                }
            }   
        }
        .casino_img_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            margin-bottom: 15px;
            @media (max-width: 576px) {
                grid-template-columns: 1fr;
            }
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .casino_list_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;
            margin-bottom: 20px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            .casino_list_item {
                p {
                    font: 1.75rem "700";
                    margin-bottom: 10px;
                    color: #98CF21;
                    @media (max-width: 990px) {
                        font: 1.5rem "700";    
                    }
                }
                ul {
                    padding: 15px;
                    border: 2px solid #98CF21;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 12px;
                    li {
                        color: #fff;
                        padding-left: 25px;
                        font: 1.125rem "400";
                        position: relative;
                        &::after {
                            content: url(../img/page_casino/check_true.svg);
                            position: absolute;
                            left: -3px;
                            top: 0px;
                        }
                    }
                }
            }
            .minus {
                opacity: .5;
                transition: .3s;
                @media (max-width: 990px) {
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
                p {
                    color: #E33538;
                }
                ul {
                    li {
                        &::after {
                            content: url(../img/page_casino/check_false.svg);
                            position: absolute;
                            left: -3px;
                            top: 0px;
                        }
                    }
                }
            }
        }
        .casino_payments_wrap {
            padding: 15px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 8px;
            margin-bottom: 20px;
            .show_detail {
                color: #FFD200;
                font: .87rem "400";
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            .show_detail_active {
                svg {
                    transform: rotate(180deg);
                }
            }
            .casino_pay_item {
                display: grid;
                grid-template-columns: 150px 1fr;
                grid-gap: 20px;
                @media (max-width: 990px) {
                    grid-template-columns: 1fr;
                    grid-gap: 15px;
                }
                .pay_title {
                    display: flex;
                    color: #fff;
                    font: .87rem "400";
                    img {
                        margin-right: 5px;
                    }
                }
                .pay_text {
                    font: .95rem "400";
                    color: #fff;
                    a {
                        text-decoration: underline;
                        color: #37c386;
                    }
                    span {
                        color: #37c386;
                    }
                }
            }
            .casino_pay_item:nth-child(n+5) {
                display: none;
            }
            .casino_pay_item_active {
                display: grid!important;
            }
        }
        .casino_exclusive {
            padding: 20px;
            background: #6102C4;
            border: 1px solid #808297;
            position: relative;
            margin-bottom: 20px;
            transition: .3s;
            width: 100%;
            box-sizing: border-box;
            &:hover {
                border-color: #FFD200;
            }
            @media (max-width: 990px) {
                padding: 15px;
            }
            .img_ex {
                position: absolute;
                max-width: 100%;
                object-fit: contain;
                right: -50px;
                bottom: -50px;
                @media (max-width: 990px) {
                    height: 100px;
                    width: 75px;
                    right: -35px;
                    bottom: -35px;
                }
            }
            .exclusive_title {
                color: #fff;
                font: 1.5rem "700";
                text-align: center;
                margin-bottom: 15px;
                @media (max-width: 990px) {
                    font: 1.2rem "700";
                }
            }
            .exclusive_text {
                text-transform: uppercase;
                font: 2.5rem "700";
                color: #fff;
                text-align: center;
                margin-bottom: 15px;
                @media (max-width: 990px) {
                    font: 1.56rem "700";
                }
                span {
                    color: #37c386;
                }
            }
            .exclusive_btn_wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    padding: 15px;
                    max-width: 220px;
                    width: 100%;
                    box-sizing: border-box;
                    background: #FFD200;
                    border-radius: 4px;
                    color: #000;
                    text-transform: uppercase;
                    font: 1.2rem "700";
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
            .exclusive_ts {
                font: .75rem "400";
                text-align: center;
                color: #ADAFBA;
            }
        }
        .casino_more_wrap {
            margin-bottom: 20px;
        }
        .casino_more_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            a {
                padding: 15px 30px;
                border: 1px solid #FFD200;
                border-radius: 5px;
                max-width: 220px;
                display: flex;
                align-items: center;
                color: #FFD200;
                font: 1.125rem "400";
                justify-content: center;
                transition: .2s;
                &:hover {
                    background: #FFD200;
                    color: #000;
                    svg {
                        path {
                            fill: #000;
                        }
                    }
                }
                svg {
                    margin-right: 10px;
                }
            }
        }
        .casino_more_output {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 20px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                width: 100%;
                box-sizing: border-box;
            }
            a {
                transition: .3s;
                display: flex;
                flex-direction: column;
                border: 1px solid #333653;
                &:hover {
                    border-color: #FFD200;
                    p {
                        color: #FFD200;
                    }
                }
                img {
                    max-width: 100%;
                    width: 100%;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
                p {
                    transition: .3s;
                    margin-bottom: 10px;
                    padding: 0 5px;
                    text-align: center;
                    color: #FFF;
                    font: .95rem "700";
                }
            }
        }
        .casino_game_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 30px;
            padding: 20px 50px;
            background: #27293D;
            margin-bottom: 15px;
            border-radius: 5px;
            @media (max-width: 1280px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                margin-bottom: 15px;
            }
            @media (max-width: 990px) {
                padding: 15px;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .disabled_game {
                opacity: .4;
            }
            .casino_game_box {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    margin-bottom: 15px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                p {
                    text-transform: uppercase;
                    color: #FFF;
                    font: .87rem "400";
                }
            }
        }
        .casino_free {
            background: #27293D;
            margin-bottom: 15px;
            border: 1px solid #FFD200;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 96px 1fr 220px;
            align-items: center;
            grid-gap: 20px;
            @media (max-width: 990px) {
                grid-template-columns: 96px 1fr;
                grid-gap: 5px;
            }
            .casino_free_img {
                max-width: 100%;
                object-fit: cover;
            }
            .casino_free_info {
                padding: 15px;
                background: #333653;
                border-radius: 5px;
                display: flex;
                position: relative;
                z-index: 9;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                .clever {
                    position: absolute;
                    left: 8px;
                    @media (max-width: 990px) {
                        height: 28px;
                        width: 28px;
                        left: 3px;
                    }
                }
                .title {
                    text-transform: uppercase;
                    font: 1.2rem "700";
                    text-align: center;
                    color: #4ced9a;
                    margin-bottom: 10px;
                    @media (max-width: 990px) {
                        font: 1.125rem "700";
                        padding: 0 15px;
                    }
                }
                .ts {
                    font: .75rem "400";
                    color: #ADAFBA;
                }
            }
            .casino_free_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
                @media (max-width: 990px) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                }
                a {
                    padding: 15px;
                    max-width: 220px;
                    width: 100%;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    background: #FFD200;
                    border-radius: 4px;
                    color: #000;
                    text-transform: uppercase;
                    font: 1.2rem "700";
                    text-align: center;
                    box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                    @media (max-width: 990px) {
                        width: 100%;
                        box-sizing: border-box;
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
        .casino_device {
            margin-bottom: 20px;
            background: #27293D;
            border-radius: 7px;
            padding: 15px;
            width: 100%;
            box-sizing: border-box;
            .casino_device_title {
                text-align: center;
                color: #fff;
                margin-bottom: 15px;
                font: 1.2rem "700";
            }
            .casino_device_wrap {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 30px;
                max-width: 500px;
                margin: 0 auto;
                @media (max-width: 990px) {
                    grid-gap: 10px;
                }
                @media (max-width: 320px) {
                    grid-template-columns: 1fr;
                }
                .device_item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 120px;
                    justify-content: center;
                    border: 3px solid #8E98AC;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 15px;
                    transition: .3s;
                    @media (max-width: 990px) {
                        padding: 10px;
                        height: auto;
                    }
                    &:hover {
                        border-color: #58b27b;
                        background: #596171;
                    }
                    img {
                        margin-bottom: 10px;
                    }
                    p {
                        font: 1.125rem "400";
                        color: #fff;
                        text-align: center;
                        @media (max-width: 990px) {
                            font: 1rem "400"; 
                        }
                    }
                }
            }
        }
        .casino_table {
            padding: 15px;
            background: #333653;
            margin-bottom: 20px;
            border-radius: 7px;
            width: 100%;
            box-sizing: border-box;
            .casino_table_titles {
                font: 1.2rem "700";
                color: #fff;
                margin-bottom: 10px;
            }
            .casino_table_wrap {
                @media (max-width: 576px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 10px;
                }
                .casino_table_title {
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
                    @media (max-width: 576px) {
                        grid-template-columns: 90px 140px 90px 140px 140px;   
                        display: none;
                    }
                    p {
                        padding: 12px 10px;
                        text-align: center;
                        color: #fff;
                        font: .95rem "400";
                        border: 1px solid rgba(255, 255, 255, 0.2);
                    }
                }
                .casino_table_item {
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr 2fr 2fr;
                    @media (max-width: 576px) {
                        grid-template-columns: 1fr;   
                    }
                    p {
                        padding: 12px 10px;
                        text-align: center;
                        color: #fff;
                        font: .95rem "400";
                        border: 1px solid rgba(255, 255, 255, 0.2);
                        @media (max-width: 576px) {
                            text-align: right;
                        }
                         &:before {
                            @media (max-width: 576px) {
                                content: attr(data-label);
                                float: left;
                                font: .95rem "400";
                            }
                        }
                    }
                }
                div:nth-child(2n) {
                    p {
                        background: #27293D;
                    }
                }
            }
        }
        .casino_feedback_wrap {
            display: grid;
            margin-bottom: 25px;
            grid-gap: 20px;
            grid-template-columns: 1fr 190px 1fr 1fr;
            @media (max-width: 990px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 355px) {
                grid-template-columns: 1fr;
            }
            .disabled_feedback {
                opacity: .4;
                pointer-events: none;
            }
            .casino_feedback_item {
                display: flex;
                padding: 15px;
                align-items: center;
                background: #27293D;
                border-radius: 7px;
                border: 1px solid transparent;
                transition: .3s;
                cursor: pointer;
                &:hover {
                    border-color: #54e996;
                }
                img {
                    margin-right: 10px;
                }
                p {
                    color: #fff;
                    font: 1rem "400";
                    white-space: nowrap;
                }
                a {
                    white-space: nowrap;
                    text-decoration-line: underline;
                    color: #54e996;
                    font: 1rem "400";
                }
            }
        }
        .casino_conclus {
            padding: 15px;
            margin-bottom: 15px;
            border: 1px solid #FFD200;
            background: #27293D;
            width: 100%;
            box-sizing: border-box;
            border-radius: 7px;
            .casino_conclus_title {
                margin-bottom: 15px;
                position: relative;
                color: #FFD200;
                font: 1.75rem "700";
                padding-left: 50px;
                img {
                    position: absolute;
                    left: -15px;
                    top: -20px;
                }
            }
            .casino_conclus_text {
                color: #FFF;
                font: .95rem/125% "400";
                opacity: .8;
            }
        }
        .casino_main_btn {
            a {
                width: 100%;
                box-sizing: border-box;
                display: block;
                font: 1.2rem "700";
                text-align: center;
                padding: 15px;
                background: #FFD200;
                text-transform: uppercase;
                color: #000;
                box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                border-radius: 4px;
            }
        }
    }
}


.faq_casino {
    .faq_title {
        text-align: center;
    }
    .faq_casino_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px 35px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 0;
        }
    }
}

.top_rated {
    .top_rated_title {
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
        font: 1.75rem "700";
        @media (max-width: 990px) {
            font: 1.5rem "700";
        }
    }
    .top_rated_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
        max-width: 900px;
        margin: 0 auto;
        .half_new_casino {
            border: 1px solid #808297;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
            background: #27293D;
            padding: 10px 20px;
            position: relative;
            border-left: 2px solid #fb7813;
            @media (max-width: 990px) {
                border: 1px solid #808297;
                border-right: 2px solid #fb7813;  
                margin-bottom: 0;
                padding: 10px;
            }
            .mob_flag {
                display: none;
                @media (max-width: 990px) {
                    position: absolute;
                    display: block;
                    right: -11px;
                    left: auto;
                }
            }
            svg {
                position: absolute;
                left: -8.5px;
                top: -22px;
                @media (max-width: 990px) {
                    display: none;
                }
            }
            .new_casino_top {
                display: grid;
                grid-template-columns: 225px 380px 1fr;
                grid-gap: 25px;
                align-items: center;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #808297;
                @media (max-width: 1200px) {
                    grid-template-columns: 1fr;
                    grid-gap: 12px;
                }
                .new_casino_name {
                    display: grid;
                    grid-template-columns: 125px 1fr;
                    grid-gap: 12px;
                    @media (max-width: 990px) {
                        border-bottom: 1px solid #808297;
                        padding-bottom: 10px;
                    }
                    img {
                        max-width: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                    .casino_name {
                    
                        p {
                            margin-bottom: 5px;
                            font: 1.125rem "400";
                            color: #fff;
                        }
                        a {
                            color: #65ee94;
                            font: .95rem "400";
                            text-decoration: underline;
                            display: block;
                            transition: .2s;
                            margin-bottom: 30px;
                            &:hover {
                                color: #4ba96e;
                            }
                        }
                        .read {
                            display: none;
                            @media (max-width: 990px) {
                                display: block;
                                color: #fff;
                                margin: 0;
                                font: .95rem "400";
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .new_casino_bonus {
                    padding: 10px 15px;
                    border-radius: 5px;
                    border: 1px solid #65ee94;
                    position: relative;
                    background: #333653;
                    .bonus_title {
                        position: relative;
                        z-index: 2;
                        margin-bottom: 8px;
                        color: #ADAFBA;
                        font: .87rem "400";
                    }
                    .bonus_item {
                        position: relative;
                        z-index: 2;
                        color: #fff;
                        margin-bottom: 14px;
                        font: 1.25rem "700";
                        text-transform: uppercase;
                        span {
                            color: #65ee94;
                        }
                    }
                    .bonus_text {
                        position: relative;
                        z-index: 2;
                        font: .7rem "400";
                        color: #ADAFBA;
                    }
                    img {
                        position: absolute;
                        right: 0;
                        top: -15px;
                    }
                }
                .new_casino_btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .casino_btn {
                        width: 100%;
                        box-sizing: border-box;
                        background: #FFD200;
                        box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                        border-radius: 4px;
                        text-align: center;
                        padding: 12px;
                        text-transform: uppercase;
                        font: 1.2rem "700";
                        color: #000;
                        margin-bottom: 10px;
                        transition: .2s;
                        &:hover {
                            background: #E2BB00;
                            box-shadow: 0px 0px 15px rgba(255, 210, 0, 0.4);
                        }
                        @media (max-width: 990px) {
                            margin: 0;
                        }
                    }
                    .casino_read {
                        transition: .2s;
                        text-decoration: underline;
                        color: #fff;
                        font: .95rem "400";
                        &:hover {
                            color: #FFD200;
                        }
                        @media (max-width: 990px) {
                            display: none;
                        }
                    }
                }
            }
            .new_casino_bottom {
                display: grid;
                grid-template-columns: 225px 1fr;
                grid-gap: 15px;
                @media (max-width: 990px) {
                    display: grid;
                    grid-template-columns: 1fr;
                }
                .casino_bottom_title {
                    margin-bottom: 8px;
                    font: 1rem "400";
                    color: #ADAFBA;
                }
                .casino_bottom_text {
                    font: .95rem/140% "400";
                    color: #FFF;
                }
                ul {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    li {
                        position: relative;
                        font: .95rem/140% "400";
                        color: #FFF;
                        padding-left: 18px;
                        &::before {
                            content: url(../img/new_img/checked_casino.svg);
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

.search_software {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #1D2135;
    .search_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        flex-direction: column;
        .sarch_title {
            color: #fff;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            font: 1.5rem "700";
            @media (max-width: 990px) {
                font: 1.2rem "700";
            }
        }
        form {
            max-width: 700px;
            margin: 0 auto;
            display: flex;
            @media (max-width: 576px) {
                max-width: 100%;
                width: 100%;
            }
            input {
                width: 100%;
                width: 600px;
                box-sizing: border-box;
                font: 1rem "400";
                appearance: none;
                border: none;
                outline: none;
                padding: 15px 25px;
                background: #EFEEEE;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
                border-radius: 3px 0 0 3px;
                @media (max-width: 990px) {
                    width: 100%;
                    font: .87rem "400";
                    padding: 15px;
                    height: 40px;
                }
            }
            button {
                background: #FFD200;
                border-radius: 0px 3px 3px 0px;
                appearance: none;
                outline: none;
                display: flex;
                align-items: center;
                border: none;
                height: 50px;
                width: 55px;
                justify-content: center;
                @media (max-width: 990px) {
                    height: 40px;
                }
            }
        }
    }
    .search_software_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 15px;
        @media (max-width: 1280px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }
        .search_software_item {
            display: grid;
            grid-template-columns: 70px 2fr 1fr;
            grid-gap: 10px;
            align-items: center;
            padding: 10px 15px;
            background: #3B404A;
            border: 2px solid rgba(0, 0, 0, .15);
            box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
            border-radius: 2px;
            &:hover {
                border: 2px solid #55B56B;
            }
            .soft_name {
                color: #fff;
                margin-bottom: 5px;
                font: .95rem "400";
            }
            .soft_casino {
                color: #FFF;
                opacity: .6;
                font: 500 .75rem 'Inter', sans-serif;
            }
            .soft_arr_box {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}


.circle-chart {
    width: 35px;
    height: 35px;
  }

  .skills-area {
    width: 35px;
    height: 35px;
  }
  
  .circle-chart__circle {
    stroke: #38ec9f;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  /**
   * 1. Rotate by -90 degree to make the starting point of the
   *    stroke the top of the circle.
   * 2. Scaling mirrors the circle to make the stroke move right
   *    to mark a positive chart value.
   * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
   *    and Edge, use the transform attribute directly on the SVG element as a
   * .  workaround.
   */
  
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  
  .circle-chart__background {
    stroke: #efefef;
    stroke-width: 3;
    fill: none; 
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  

 
  .circlechart {
      position: relative;
  }

    .circle-chart__percent {
        font: 1rem "400";
        color: #38ec9f!important;
        position: absolute;
        left: 8.5px;
        top: 8.5px;
        @media (max-width: 990px) {
            top: 9.5px;
        }
    }
  
  
  .success-stroke {
    stroke: #00C851;
  }
  
  .warning-stroke {
    stroke: #00C851;
  }
  
  .danger-stroke {
    stroke: #00C851;
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .skill-head p{
    margin-bottom: 10px;
  }
  
  .skills-area {
      margin-right: 10px;
  }

  
  .success-stroke {
    stroke: #00C851;
  }
  
  .circle-chart__background {
    stroke: #333653;
    stroke-width: 2;
  }


  

  
.progress {
    background: #333653;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 8px;
    width: 100%;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: #17eba8;
    height: 5px;
    width: 0;
    transition: .3s;
  }
  
