.about_top_wrap {
    .about_top_title {
        text-align: center;
        margin-bottom: 10px;
        font: 1.75rem "700";
        color: #fff;
        @media (max-width: 990px) {
            font: 1.45rem "700";    
        }
    }
    .about_top_text {
        color: #fff;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        font: .95em/23px "400"; 
        margin-bottom: 20px;
    }
    .about_icon_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        max-width: 900px;
        margin: 0 auto;
        @media (max-width: 990px) {
            grid-gap: 15px;
            grid-template-columns: 1fr;
        }
        .about_icon_box {
            padding: 20px 30px;
            background: #27293D;
            border-radius: 5px;
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
                margin: 0 auto;
                display: block;
                margin-bottom: 10px;
            }
            p {
                text-align: center;
                color: #fff;
                font: 1.2em "700";
                margin-bottom: 15px; 
            }
            a {
                padding: 12px 15px;
                text-transform: uppercase;
                text-align: center;
                transition: .3s;
                display: block;
                color: #fff;
                width: 100%;
                box-sizing: border-box;
                font: 1.2em "700";
                border: 1px solid #FFD200;
                border-radius: 4px;
            }
        }
        .about_icon_box:nth-child(1) {
            a {
                color: #FFD200;
                &:hover {
                    background: #FFD200;
                    color: #000;
                }
            }
        }
        .about_icon_box:nth-child(2) {
            a {
                color: #F5EFFB;
                border-color: #F5EFFB;
                &:hover {
                    background: #F5EFFB;
                    color: #000;
                }
            }
        }
        .about_icon_box:nth-child(3) {
            a {
                color: #FB243A;
                border-color: #FB243A;
                &:hover {
                    background: #FB243A;
                    color: #000;
                }
            }
        }
    }
}

.about_wrap {
    padding: 25px 20px;
    background: #1D2135;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @media (max-width: 990px) {
        padding: 15px;
        margin-bottom: 15px;
    }
    .about_title {
        display: flex;
        align-items: center;
        color: #fff;
        font: 1.5rem "700";
        margin-bottom: 5px;
        img {
            height: 60px;
            object-fit: contain;
            margin-right: 5px;
            width: 60px;
        }
        @media (max-width: 990px) {
            font: 1.45rem "700";   
        }
    }
    .about_box_output {
        h1,h2,h3,h4,h5 {
            color: #fff;
            font: 1.5rem "700";
            margin-bottom: 5px;
            @media (max-width: 990px) {
                font: 1.45rem "700";
                
            }
        }
        p {
            font: .95rem/23px "400";
            color: #fff;
            span {
                color: #13ce98; 
            }
            a {
                color: #13ce98;
                text-decoration: underline;
            }
        }
    }
}